<% include partials/header.ejs %>
  




<div class="container">

<header class="jumbotron">
    <h1>Welcome to YelpCamp</h1>
    <p>View our hand picked camp grounds</p>
    <p><a class="btn btn-primary btn-large" href="campgrounds/new">Add a new camp</a></p>
</header>


<div>
    <div class="col-lg-12">
        <h3>Most popular sites:</h3>
    </div>
</div>

    <div class="row text-center" style="display: flex;flex-wrap:wrap; clear:both;">
        <% campgrounds.forEach(function(campground){ %>
            <div class="col-lg-3 col-md-3 col-sm-6"> 
              <div class="thumbnail">
                <img src="<%= campground.image %>">
                <div class="caption">
                   <h4><%= campground.name %></h4>
                </div>
              </div> 
            </div>
            
        <% }) %>
    </div>
</div>

<% include partials/footer.ejs %>